<p id="notice"><%= notice %></p>

<p>
  <strong>Collaborator name:</strong>
  <%= @collaborator.collaborator_name %>
</p>

<%= link_to 'Edit', edit_collaborator_path(@collaborator) %> |
<%= link_to 'Back', collaborators_path %>
