<div class="jumbotron jumbotron-fluid" style="background: url('assets/.png'); background-color: #00ca72;">
  <div class="container">
      <h1 class="display-4">Hello, world!</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <% unless user_signed_in?%>
      <%= link_to 'se connecter', new_user_session_path, :class => "btn btn-light" %>
    <% end %>
  </div>
</div>